@import url('https://fonts.googleapis.com/css?family=Orbitron');





.homebutton{
    background:white;
    width:50px;
    font-size:3vh;
    text-decoration:none;
    color:black;
    border: 3px solid black;
    padding:30px;
    border-radius: 5px;
    margin:190px;
    
    
}

body{
    padding-top:15%;
    width: auto;
    height:100%;
    font-family: 'Orbitron', sans-serif;
}





.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.emptycell {
    position: absolute;
    z-index: 2;
    width: 100px;
    height: 100px;
    margin: 10px;
    background:lightblue;
    border-radius: 5px;
}

.scoring {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.scoreboard {
    background:#d1ccca;
    color:black;
    padding: 10px 20px;
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
    width: 90px;
    margin-right: 10px;
}

.wrapper {
    position: relative;
    width: 450px;
    height: 450px;
    z-index: 1;
    background:#d1ccca;
    margin-top: -465px;
    border-radius: 20px;
}

.cell {
    margin: 10px;
    width: 100px;
    height: 65px;
    padding-top: 35px;
    text-align: center;
    background:lightblue;
    border: 2x solid blue;
    border-radius: 5px;
    font-size: 30px;
    position: absolute;
    z-index: 10;
    box-shadow: 0px 0px 10px -2px white;
}



h3 {
    margin: 5px;
}

.board {
    width: 450px;
    height: 450px;
    border: 15px solid black;
    background: #d1ccca;
    border-radius: 20px;
    font-family: 'Orbitron', sans-serif;
}

.two {
    background-image: linear-gradient(to right top,#FC466B,#3F5EFB);
    font-size: 50px;
    height: 85px;
    padding-top: 15px;
    color:white;
    border: 1px solid white;
}

.four {
    background-image: linear-gradient(to right top,#0f0c29,#009fef);
    font-size: 50px;
    height: 85px;
    padding-top: 15px;
    color:white;
    border: 1px solid white;
}

.eight {
    background-image: linear-gradient(to right top,#00b09b,#96c93d);
    font-size: 50px;
    height: 85px;
    padding-top: 15px;
    color:white;
    border: 1px solid white;
}

.sixteen {
    background-image: linear-gradient(to right top,#b21f1f,yellow);
    font-size: 50px;
    height: 85px;
    padding-top: 15px;
    color:white;
    border: 1px solid white;
}

.thirtyTwo {
    background-image: linear-gradient(to right top,#fc4a1a,#f7b733);
    font-size: 50px;
    height: 85px;
    padding-top: 15px;
    color:white;
    border: 1px solid white;
}

.sixtyFour {
    background-image: linear-gradient(to right top,#f05053,#e1eec3);
    font-size: 50px;
    height: 85px;
    padding-top: 15px;
    color:white;
    border: 1px solid white;
}

.oneTwentyEight {
    background-image: linear-gradient(to right top,#7F00FF,#E100FF);
    font-size: 43px;
    height: 85px;
    padding-top: 15px;
    color:white;
    border: 1px solid white;
}

.twoFiveSix {
    background: linear-gradient(to right top,#7F00FF,#E100FF);
    font-size: 40px;
    color: white;
    height: 75px;
    padding-top: 25px;
    border: 1px solid white;
}

.fiveOneTwo {
    background: linear-gradient(to right top,blue,lightgreen);
    font-size: 40px;
    color: white;
    height: 75px;
    padding-top: 25px;
    border: 1px solid white;
}

.one024 {
    background: radial-gradient(rgb(175, 231, 19), rgb(193, 247, 45));
    font-size: 35px;
    height: 70px;
    padding-top: 30px;
    border: 1px solid white;
}

.two048 {
    background: radial-gradient(green, rgb(11, 204, 11));
    font-size: 35px;
    color: #FBE9E7;
    height: 70px;
    padding-top: 30px;
    border: 1px solid white;
}

.four096 {
    background: radial-gradient(indigo, rgb(107, 8, 177));
    font-size: 35px;
    color: #FBE9E7;
    height: 70px;
    padding-top: 30px;
    border: 1px solid white;
}

.eight192 {
    background: radial-gradient(#4444cc, #4466ee);
    font-size: 35px;
    color: #FBE9E7;
    height: 70px;
    padding-top: 30px;
    border: 1px solid white;
}

.large {
    background: radial-gradient(#99AAE7, #99CCF9);
    border: 1px solid white;
}

.alertbox {
    background:linear-gradient(to right top,#800080,#ffc0cb);
    color: white;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    position: absolute;
    font-size: 50px;
    text-align: center;
}

.mode-toggle {
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 1em;
    background: white;
    color: black;
    border:1px solid black;
    font-family: 'Orbitron', sans-serif;
}

.btn-selected {
    background:red;
    color: black;
}

@keyframes showing {
    0% {
        visibility: visible;
        transform: scale(0.2);
    }
    100% {
        visibility: visible;
        transform: scale(1);
    }
}

.show {
    animation: showing .7s ease;
    animation-fill-mode: forwards;
}

.message {
    margin-bottom: 20px;
    visibility: hidden;
}

.continue {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 25px;
    color:black;
    font-size: 18px;
    background:white;
    font-family: 'Orbitron', sans-serif;
}

#continue {
    visibility: hidden;
}

.continue:hover {
    border: 1px solid white;
    background: royalblue;
    color: white;
}

@media (max-width:500px) {
    .game {
        transform: scale(2);
        margin-top: -50px;
    }
    h1 {
        margin-bottom: 10px;
        font-size: 26px;
    }
}

@media (max-width:400px) {
    .game {
        transform: scale(0.7);
        margin-top: -70px;
    }
    h1 {
        margin-bottom: 10px;
        font-size: 24px;
    }
}

@media (max-width:330px) {
    .game {
        transform: scale(1);
        margin-top: -100px;
    }
    h1 {
        margin-bottom: 10px;
        font-size: 20px;
    }
}